body{
background: indigo
}
.principal{
background-color: antiquewhite;
font-size: 30px;
color: rgb(70, 38, 38);
border: 10px solid;
}
h2{
text-align: center;
font-size: 40px;
color: rgb(70, 38, 38);
border: 10px solid;
}
.explicação{
background-color: antiquewhite;
font-size: 30px
}
.funções{
    background-color: antiquewhite;
    font-size: 30px;
}
.Tópicos{
    background-color: antiquewhite;
}
.imagens{
    display: inline;
    padding: 100px;
}