body{
background: indigo
}
h1{
text-align: center;
font-size: 40px;
color: rgb(70, 38, 38);
border: 10px solid;
}
.explicação{
background-color: cadetblue;
font-size: 30px
}
.funções{
    font-size: 30px;
}
.Tópicos{
    background-color: antiquewhite;
}
.imagens{
    display: block;
}